<div class="tab-pane fade show active">

<div class="row">
    <div class="col-6">
        <h2>Projects</h2>
    </div>
    <div class="col-6">
        <button class="btn btn-success" routerLink="/new-project/0">New Project</button>
    </div>
</div>




<h3>Project List</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr no</th>
            <th>Project Name</th>
            <th>Client NAme</th>
            <th>Start DAte</th>
            <th>Lead By Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @for(item of projectList;track $index){
        <tr>
            <td>{{$index+1}}</td>
            <td>{{item.projectName}}</td>
            <td>{{item.clientName}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.leadByEmpId}}</td>
            <td>
                <button type="button" class="btn btn-primary mt-3" (click)="onEdit(item.projectId)">Edit</button>
                <button type="button" class="btn btn-danger mt-3" (click)="onDelete(item.projectId)">Delete</button>
            </td>
        </tr>
       }
    </tbody>
</table>
</div>